body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

.logo {
    max-width: 300px;
    height: auto;
}

main {
    padding: 20px;
}

.intro, .gallery, .video {
    margin-bottom: 20px;
}

h1, h2 {
    color: #343a40;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.video video {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}